body{
    background-color: lightblue;
    margin: auto;
}

h1{
    text-align: center;
    border-width: 5px;
    border-bottom: ridge;

}

div{
    text-align: center;
    
}


section{
margin-bottom: 30px;

}